<!DOCTYPE html>
<html>
<head>
  <title>Unrestful</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "unrestful/application", media: "all" %>
  <%= javascript_include_tag "unrestful/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
